doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/assets/images/favicon.png")
        title="Cozy, a personal cloud you can hack, host and delete"
        meta(name="description", content="Cozy brings you a personal cloud platform. Store your data in a place you control and leverage it with personal web applications. Photos, mails, notes, contacts, todos... there's already many applications. Extend the possibility by developing your own app, you can leverage existing features! Cozy is open-source and you can self-host it. Cozy is privacy-friendly.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != getBlock('styles').add(['/vendors/css/knacss.css', '/assets/css/home.css']).toHTML()
        script(src='/vendors/javascripts/jquery-2.0.3.min.js').
        script(type='text/javascript').
          $(document).ready(function() {
             $(".diagbox").click(function(event) {
               if($(window).width() > 800) {
                 $(event.target).find("p").slideDown();
               };
             });
          });
    body
        .navbar.fixed
            a(href="/fr/")
                img(src='/assets/images/happycloud.png', alt='Happy Cloud')
            a.lang-switcher(href="/en/") EN
            a.lang-switcher.selected(href="/fr/") FR
            a.right(href="https://blog.cozycloud.cc") Blog
            a.right(href="/en/hack/getting-started/") Dev'
            a.right(href="/fr/mobile/files.html") Sync
            a.right(href="/fr/host/install.html") Install'

        header.line.clearfix#header
            .left.mr2.biglogo
                img(src='/assets/images/bighappycloud.png')
            .mod.main-text
                .mod.left
                    h1
                        span.title Cozy&nbsp;
                        | un Cloud personnel
                        br
                        | vous pouvez héberger, personnaliser
                        | et complètement contrôler
                    p.h4-like
                        | Synchronisez vos contacts, agendas et fichiers avec vos périphériques et votre serveur personnel.
                        | Ajoutez vos propres services pour tirer partie de vos données personnelles.
                    .image-links.mt6
                        p
                            a.button(href="/host/install.html")
                                | Installer sur votre matériel
                        p
                            | Pour être prévenu des nouveautés du projet, suivez nous sur&nbsp;
                            a(href="https://twitter.com/mycozycloud") Twitter&nbsp;
                            | ou&nbsp;
                            a(href="https://diaspora-fr.org/people/ce1528a0f88b013197aa01beea1f31e2") Diaspora

            .line.external-links
                .mod.w33.left.pa2.txtcenter
                    h4 Simple et intuitif
                    br
                    a.button(href="https://demo.cozycloud.cc")
                        | Utilisez la démo
                .mod.w33.left.pa2.txtcenter
                    h4 Centré sur sa communauté
                    br
                    a.button(href="https://forum.cozy.io")
                        | Visitez le forum
                .mod.w33.left.pa2.txtcenter
                    h4 Libre et Open Source
                    br
                    a.button(href="https://github.com/cozy/cozy-setup")
                        | Accéder au code source

        section#why.why.center.highlight
            .line
                h4
                    | Découvrez votre cloud personnel
                p.textcenter.pa2.tagline
                    | Cozy est l'assistant qui simplifie votre vie.
                    | Vous pouvez lui faire confiance pour respecter votre vie privée et vous
                    | servir. Voici les principales fonctionnalités :
                .line.mt2.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/files.png", alt="Files").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/files-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Fichiers
                        p.pa2.mt0
                            | Stockez vos fichiers importants dans votre Cozy.
                            | Sauvegardez les photos de votre téléphone grâce à l'application Cozy pour mobile.
                            | Gardez vos fichiers synchronisés avec votre ordinateuer portable et votre téléphone.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/calendar.png", alt="Calendar").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/calendar-picto.png", alt="Calendar").picto
                        h1.capitalize.mt3
                            | Agenda
                        p.pa2.mt0
                            | Gérez vos événements grâce à une interface web simple.
                            | Synchronisez les sur téléphone avec le protocole CalDav.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/contacts.png", alt="Contacts").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/contacts-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Contacts
                        p.pa2.mt0
                            | Gardez vos contacts dans votre cloud and partagez des fichiers
                            | et des événements avec eux.
                            | Synchronisez le carnet d'adresse de votre téléphone avec le protocole CardDav.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/app-store.png", alt="App Store").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/app-store-picto.png", alt="App Store").picto
                        h1.capitalize.mt3
                            | Marché d'applications
                        p.pa2.mt0
                            | Cozy est extensible : vous pouvez installer des applications
                            | développées par la comunauté : gallerie photo, lecteur de flux
                            | RSS, gestionnaire de tâches, etc.

                 .line.mt6
                     p
                        strong.biggest 3000 applications téléchargées chaque mois !
                 .line.txtcenter.mt2
                     a#install-button.button.mt6(href="/host/install.html")
                            | Installez Cozy sur votre machine préférée

        section#hack.line.target.simple
            .line
                h4
                    | Créer des applications pour votre Cozy et partagez les avec les autres utilisateurs
            .line.mt6
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/big-plus.png", alt="Plus Icon")
                    p.pa2
                        | Développement rapide d'application
                        br
                        | Cozy accélère le développement de vos applications web.
                        | Il fournit des patrons prêts à l'emploi, un cadriciel web simple, un ODM et de nombreuses bilbiothèques.
                        | Aucun IDE specifique n'est requis, gardez votre éditeur préféré !
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/javascript_logo.png", alt="JS Logo")
                    p.pa2
                        | Basé sur JavaScript.
                        br
                        | VOus pouvez construire une application web avec un seul langage pour le client et le serveur : JavaScript.
                        | Bientôt, nous supporterons les applications avec seulement un client. Plus de serveur requis !
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/server.png", alt="Server Icon")
                    p.pa2
                        | Partage d'applications simplifié.
                        br
                        | Vous pourrez distribuer votre application facilement avec toute la communauté en partageant l'URL Git de votre dépôt.
                        | Plus besoin de vous inquiéter pour le déploiement !
            .line
                .txtcenter.mt6
                    a.button.mt6(href="http://cozy.io/hack/getting-started/")
                        | Commencez à apprendre comment créer une application dès maintenant !


        section#leave.highlight
            .line
                h4
                    | Nous n'essayons pas de vous faire prisonnier
                p
                    | De nos jours, les serveurs en ligne ont la fâcheuse tendance
                    | de vous emprisonner. Ce n'est pas ce que nous voulons faire avec Cozy.
                    | C'est pourquoi you avez la possibilité de supprimer vos données
                    | et de quitter la plateforme à tout moment.
                    br
                    | Voyez par vous même en cliquant sur le bouton ci-dessous :
                .txtcenter.mt3
                    a.button(href="/host/uninstall.html")
                        | Désinstallez Cozy


        section#architecture.line.target.simple
            .line
                h4 Cozy est architecturé comme un PaaS
            .line.mt6
                .line
                    .mod.w100.diagbox
                        div proxy
                        p.w100
                            | Le proxy gère toutes les requêtes de l'utilisateur.
                            | Il gère l'authentification et redirige les requêtes
                            | vers la bonne application.
                .line.grid5
                    .diagbox
                        div home / controller
                        p.w100
                            | L'application "Home" est une interface utilisateur pour le controller.
                            | Elle permet d'installer ou supprimer des applications, ainsi que de définir des paramètres.
                    .diagbox
                        div app1
                        p.w100
                            | C'est une application développée par Cozy Cloud
                            | ou la communauté. Elle est démarrée par la Home qui trouve
                            | les sources dans un dépôt Github.
                    .diagbox
                        div app2
                        p.w100
                            | Votre choix : notes, emails, budget, coach sportif...
                    .diagbox(style='background: transparent') ...
                    .diagbox
                        div votre application
                        p.w100
                            | C'est une application que vous développez. Vous pouvez la démarrer
                            | comme n'importe quelle autre application.
                .line
                    .mod.w100.diagbox
                        div data system
                        p.w100
                            | Le "data system" est une couche entre les applications et les données.
                            | Il gère les permissions des applications et fournis une API unifiée pour accéder
                            | à toute sortre de données : fichiers, documents ou indexes.
                            | Il publie un flux de changements pour que les applications puissent
                            | partager des données entre elles.
                .line.grid3
                    .diagbox
                        div base de données
                        p.w100
                            | C'est un moteur NoSQL qui stocke des documents en tant qu'objets JSON.
                    .diagbox
                        div système de fichiers
                        p.w100
                            | Les fichiers sont stockées directement dans la base de données comme des
                            | pièces jointes de documents. Une implémentation FUSE est sur la feuille de route
                            | pour faciliter les choses.
                    .diagbox
                        div indexeur
                        p.w100
                            | Un module dédié qui gère l'indexation de documents à travers une API REST.
                            | C'est votre moteur de recherche personnel.

        section#community-cozy.highlight
            .line
                h4
                    | Rejoignez notre communauté
                p
                    | Nous avons besoin de votre aide pour construire le meilleur serveur personnel possible.
                    | Entrez en contact avec nous pour demander du support technique, partager vos réflexions, intégrer vos contributions ou montrer vos nouvelles applications.
                .line
                    p.mod.w33.left
                        a(href="http://webchat.freenode.net/?channels=cozycloud")
                           img(src='/assets/images/irc-logo.png', alt='IRC Logo')
                           br
                           | <strong>#cozycloud</strong> sur irc.freenode.net
                    p.mod.w33.left
                        a(href='https://forum.cozy.io')
                           img(src='/assets/images/forum.png', alt='Forum Icon')
                           br
                           | Forum
                    p.mod.w33.left
                        a(href='https://twitter.com/mycozycloud')
                           img(src='/assets/images/twitter.png', alt='Twitter Logo')
                           br
                           | Twitter

        section#about.line
            h2.icon-rate &nbsp; A propos
            p
                | Cozy est développé par Cozy Cloud, une jeune startup basée en France.
                | En savoir plus sur&nbsp;
                a(href="https://cozycloud.cc") notre site web
                |.
            p
                | Notre but est de créer un assistant virtuel dans lequel vous pouvez avoir confiance;
                | Cozy sera le centre de gravité de votre vie numérique.
                | Tous vos périphériques, services webs et contacts pourront collaborer à travers lui.
                | De cette façon, vous vivrez une nouvelle expérience sur Internet!
                br
                | Si vous voulez partager notre logo, cliquez &nbsp;
                a(href="/assets/images/cozy-logo-gradient.svg") ici pour la version SVG
                | .
            p
                | Crédits photos : Cozy Cloud, TechGenStaffer
                | (Flickr), licence Creative Commons
                br
                | Icônes: iconmonstr et KNACSS
            p.mt6.txtcenter
                a.mr3(href="http://redecentralize.org/interviews/2014/01/30/11-benjamin-cozycloud.html")
                    img(src='/assets/images/redecentralize-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a.mr3(href="http://linuxfr.org/news/cozy-un-cloud-personnel-que-l-on-peut-heberger-bidouiller-et-supprimer", )
                    img(src='/assets/images/linuxfr-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a(href="http://blog.webfwd.org/post/55880600928/new-team-intro-cozy-cloud")
                    img(src='/assets/images/webfwd-logo.png', alt='WebFWD Logo')

        script(type='text/javascript').
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//piwik.cozycloud.cc/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 3]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        noscript
            p
                img(src="https://piwik.cozycloud.cc/piwik.php?idsite=3", style="border:0", alt="")
