doctype html
html(lang="fr")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/cozy-docs/assets/images/favicon.png")
        title="Cozy Documentation"
        meta(name="description", content="It is the place to find Apps from Cozy. Cozy brings is a personal cloud platform that allows you to store, sync and share data the way you want.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != getBlock('styles').add(['/cozy-docs/vendors/css/knacss.css', '/cozy-docs/vendors/css/icomoon.css', '/cozy-docs/assets/css/home.css']).toHTML()

    body.homepage
        .navbar.fixed(aria-expanded='false')
            a.nav-logo(href="/en/")
                img(src='/cozy-docs/assets/images/cozy-logo-docs.svg')
            nav
                ul
                    li: a(href="http://cozy.io/") Cozy's site
                    li: a.selected(href="/en/download/") English
                    li: a(href="/fr/download/") Français

        main.line.clearfix.main-download
            section.mb4
                h1
                    | Use Cozy Drive on all of your devices

            h2.mt4
                | Cozy Drive apps for mobile
            section.main-actions.mt3
                .w50
                    img.os(src='/cozy-docs/assets/images/icons/icon-48-apple.svg')
                    h3 
                        | Cozy Drive for iOS
                    div.version 
                        | Minimum version required iOS 10
                    a.btn.mt1-5(href="https://itunes.apple.com/fr/app/cozy-drive/id1224102389?mt=8")
                        img(src="/cozy-docs/assets/images/icons/download-button_apple.svg", height="56", width="189")
                .w50
                    img.os(src='/cozy-docs/assets/images/icons/icon-48-android.svg')
                    h3 
                        | Cozy Drive for Android
                    div.version 
                        | Minimum version required Android 5.0.0
                    a.btn.mt1-5(href="https://play.google.com/store/apps/details?id=io.cozy.drive.mobile")
                        img(src="/cozy-docs/assets/images/icons/download-button_android.png", height="56", width="189")

            h2.mt4
                | Cozy Drive apps for desktop
            section.main-actions.mt3
                .w50
                    img.os(src='/cozy-docs/assets/images/icons/icon-48-apple.svg')
                    h3 
                        | Cozy Drive for macOS
                    div.version
                        | Minimum version required 10.12.x Sierra
                    a.btn.txt.txt--mac.mt1-5(href="https://nuts.cozycloud.cc/download/channel/beta/osx")
                        | Download for MacOS
                .w50
                    img.os(src='/cozy-docs/assets/images/icons/icon-48-windows.svg', class='wide')
                    h3 
                        | Cozy Drive for Windows
                    div.version
                        | Minimum version required Windows 10
                    a.btn.txt.txt--win.mt1-5(href="https://nuts.cozycloud.cc/download/channel/beta/win")
                        | Download for Windows

        script(type='text/javascript').
            var _paq = _paq || [];
            _paq.push(['disableCookies']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//piwik.cozycloud.cc/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 7]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        noscript
            p
                img(src="https://piwik.cozycloud.cc/piwik.php?idsite=7", style="border:0", alt="")
