doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/assets/images/favicon.png")
        title="Cozy, a personal cloud you can host, customize and fully control"
        meta(name="description", content="Cozy brings you a personal cloud platform. Store your data in a place you control and leverage it with personal web applications. Photos, mails, notes, contacts, todos&hellip; there's already many applications. Extend the possibility by developing your own app, you can leverage existing features! Cozy is open-source and you can self-host it. Cozy is privacy-friendly.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != getBlock('styles').add(['/vendors/css/knacss.css', '/vendors/css/icomoon.css', '/assets/css/home.css']).toHTML()
    body.homepage
        .navbar.fixed(aria-expanded='false')
            a.nav-logo(href="/en/")
                img(src='/assets/images/cozy-logo-gradient.svg', alt='Happy Cloud', width="50", height="38")
            nav
                ul.navigation.right
                    li: a(href="/en/host/install.html") Install
                    li: a(href="/en/mobile/files.html") Sync
                    li: a(href="/en/hack/getting-started/") Dev
                    li: a(href="https://blog.cozycloud.cc") Blog
                    li: a(href="#about") About
                    li: a(href="#contact") Contact
                ul.lang-switcher
                    li: a.selected(href="/en/") EN
                    li: a(href="/fr/") FR
            button.nav-toggle.icon-menu


        header.line.clearfix#header
            .left.mr2.biglogo
                img(src='/assets/images/cozy-logo-gradient.svg', width="350", height="266")
            .mod.main-text
                .mod.left
                    h1
                        span.title Cozy 
                        | a Personal Cloud
                        br
                        | you can host, customize and fully control
                    p.h4-like
                        | Sync your contacts, calendars and files between your devices and your personal server.
                        | Add your own services to leverage your personal data.
                    .image-links.mt6
                        p
                            a.button(href="/en/host/install.html")
                                | Install Cozy on your own hardware
                        p
                            | or
                        p
                            a.button(href="/fr/#contact")
                                | Try on our servers
                        p
                            | To be kept updated with news about the project, follow us on 
                            a(href="https://twitter.com/mycozycloud") Twitter 
                            | or&nbsp;
                            a(href="https://diaspora-fr.org/people/ce1528a0f88b013197aa01beea1f31e2") Diaspora

            .line.external-links
                .mod.w33.left.pa2.txtcenter
                    h4 Simple and Intuitive
                    br
                    a.button(href="https://demo.cozycloud.cc")
                        | Use Demo
                .mod.w33.left.pa2.txtcenter
                    h4 Community Driven
                    br
                    a.button(href="https://forum.cozy.io")
                        | Visit our forum
                .mod.w33.left.pa2.txtcenter
                    h4 Free and Open Source
                    br
                    a.button(href="https://github.com/cozy/cozy-setup")
                        | Access our source code

        section#why.why.center.highlight
            .line
                h4
                    | Enjoy your personal cloud
                p.textcenter.pa2.tagline
                    | Cozy is the assistant that simplifies your life.
                    | You can trust it to keep your privacy safe and to serve you.
                    | Here are its main features:
                .line.mt2.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/files.png", alt="Files").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/files-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Files
                        p.pa2.mt0
                            | Store your important files in your Cozy.
                            | Backup your mobile pictures via our mobile app.
                            | Keep your files synced with your laptop and your smartphone.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/calendar.png", alt="Calendar").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/calendar-picto.png", alt="Calendar").picto
                        h1.capitalize.mt3
                            | Calendar
                        p.pa2.mt0
                            | Manage your events via a simple web interface.
                            | Synchronize your smartphone calendar with Cozy via the CalDAV protocol.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/contacts.png", alt="Contacts").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/contacts-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Contacts
                        p.pa2.mt0
                            | Store your contacts in the cloud and share files and events with them.
                            | Synchronize your smartphone with your contact book via the CardDAV protocol.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/app-store.png", alt="App Store").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/app-store-picto.png", alt="App Store").picto
                        h1.capitalize.mt3
                            | App Store
                        p.pa2.mt0
                            | Cozy is expandable: you can install applications developed by the community:
                            | photo gallery, feed reader, task manager, etc.

                 .line.mt6
                     p
                        strong.biggest 9000 apps are downloaded each month!
                 .line.txtcenter.mt2
                     a#install-button.button.mt6(href="/en/host/install.html")
                            | Install Cozy on your favorite hardware

        section#contact.simple
            h4 Get a free instance as a beta tester
            .line#instance-request
                p
                    | I want to contribute to the Cozy project as an app developer, beta tester and/or localizer  and enjoy one of these free fancy Cozy instances with 1GB of RAM and 10GB of disk space (available in limited numbers, hosted in France).
                form#sign-me-up(action='//cozy.us4.list-manage.com/subscribe/post?u=e25ec3b4f8c222291f7d77997&id=a9da8da0de', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                    label(for='mce-signmeup-EMAIL').email
                        span email address
                        input#mce-signmeup-EMAIL(type="email", name="EMAIL", placeholder="email address")
                    label(for='mce-signmeup-MOTIV')
                        span What I could help with:
                        textarea(name="MOTIV", maxlength="255")
                        span.notice
                            | text limited, 
                            span.counter 255
                            |  chars left
                    div(style='position: absolute; left: -5000px;')
                        input(type='text', name='b_e25ec3b4f8c222291f7d77997_a9da8da0de', tabindex='-1', value='')
                    button.icon-cloud(type='submit', name='subscribe') Sign me up!
            .line
                p
                    | Need to contact the team for other reasons ?
                    | Just use this trusty and decentralized tool called email by sending a message to 
                    a(href="mailto:contact@cozycloud.cc") contact@cozycloud.cc
                    | .

        section#community-cozy.highlight
            .line
                h4
                    | Join our community
                p
                    | We need your help to make sure we can build the best Personal Server around.
                    | Connect with us to get tech support, to share your thoughts, integrate your contributions or show off your brand new app.
                .line
                    p.mod.w33.left
                        a(href="http://webchat.freenode.net/?channels=cozycloud")
                           img(src='/assets/images/irc-logo.png', alt='IRC Logo')
                           br
                           | <strong>#cozycloud</strong> on irc.freenode.net
                    p.mod.w33.left
                        a(href='https://forum.cozy.io')
                           img(src='/assets/images/forum.png', alt='Forum Icon')
                           br
                           | Forum
                    p.mod.w33.left
                        a(href='https://twitter.com/mycozycloud')
                           img(src='/assets/images/twitter.png', alt='Twitter Logo')
                           br
                           | Twitter
                           
        section#hack.line.target.simple
            .line
                h4
                    | Create apps for your Cozy server and share them with other users
            .line.mt6
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/big-plus.png", alt="Plus Icon")
                    p.pa2
                        | Fast application development.
                        br
                        | Cozy speeds up your web app development.
                        | It provides you with ready to-go templates, a simple web framework, an ODM and many more helpers.
                        | No specific IDE is required, you keep your favorite editor!
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/javascript_logo.png", alt="JS Logo")
                    p.pa2
                        | JavaScript based.
                        br
                        | You can build your web app with a single language for client and server: JavaScript.
                        | Soon, we will support applications composed only of HTML5 and Javascript, no server will be required.
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/server.png", alt="Server Icon")
                    p.pa2
                        | App sharing made easy.
                        br
                        | You will distribute your app easily to the entire community by sharing the Git URL of your repository.
                        | No need to worry about deployment anymore!
            .line
                .txtcenter.mt6
                    a.button.mt6(href="http://cozy.io/en/hack/getting-started/")
                        | Start learning how to write your Web app now!


        section#leave.highlight
            .line
                h4
                    | We're not trying to lock you in
                p
                    | What is annoying nowadays with online services is that they lock you in.
                    | This is not what we intend to do with Cozy.
                    | That's why you have the capability to delete your data and leave the platform anytime you want.
                    br
                    | See for yourself by clicking the button below:
                .txtcenter.mt3
                    a.button(href="/en/host/uninstall.html")
                        | Uninstall Cozy

        section#about.line
            h2.icon-rate &nbsp; About
            p
                | Cozy is proudly hand-crafted in France by the Cozy Cloud team, a young open-source startup.
            ul.team
                li(title="Benjamin")
                    img(src="/assets/images/team/polaroid-ben.png", alt="Benjamin")
                li(title="Frank")
                    img(src="/assets/images/team/polaroid-frank.png", alt="Frank")
                li(title="Lucas")
                    img(src="/assets/images/team/polaroid-lucas.png", alt="Lucas")
                li(title="Zoé")
                    img(src="/assets/images/team/polaroid-zoe.png", alt="Zoé")
                li(title="Joseph")
                    img(src="/assets/images/team/polaroid-joseph.png", alt="Joseph")
                li(title="Romain")
                    img(src="/assets/images/team/polaroid-romain.png", alt="Romain")
                li(title="Alexis")
                    img(src="/assets/images/team/polaroid-alexis.png", alt="Alexis")
                li(title="Nicolas")
                    img(src="/assets/images/team/polaroid-nicolas.png", alt="Nicolas")
                li(title="Clochix")
                    img(src="/assets/images/team/polaroid-clochix.png", alt="Clochix")
                li(title="Paul")
                    img(src="/assets/images/team/polaroid-paul.png", alt="Paul")
                li(title="m4dz")
                    img(src="/assets/images/team/polaroid-m4dz.png", alt="m4dz")
                li(title="Tristan")
                    img(src="/assets/images/team/polaroid-tristan.png", alt="Tristan")
            p
                | Cozy Cloud's team goal is to build an open-source, decentralized, trusted personal cloud that can help all of us take back control of our personal data while benefiting of cutting-edge cloud services.
            p.credits
                | Photo Credits: Cozy Cloud, TechGenStaffer
                | (Flickr), license Creative Commons
                br
                | Icons: iconmonstr, KNACSS &amp; Icomoon
            p.mt6.txtcenter
                a.mr3(href="http://redecentralize.org/interviews/2014/01/30/11-benjamin-cozycloud.html")
                    img(src='/assets/images/redecentralize-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a.mr3(href="http://linuxfr.org/news/cozy-un-cloud-personnel-que-l-on-peut-heberger-bidouiller-et-supprimer", )
                    img(src='/assets/images/linuxfr-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a(href="http://blog.webfwd.org/post/55880600928/new-team-intro-cozy-cloud")
                    img(src='/assets/images/webfwd-logo.png', alt='WebFWD Logo')

        script(src='/vendors/javascripts/jquery-2.0.3.min.js')
        script(src='/assets/javascripts/main.js')

        script(type='text/javascript').
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
            var u="//piwik.cozycloud.cc/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', 3]);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        noscript
            p
                img(src="https://piwik.cozycloud.cc/piwik.php?idsite=3", style="border:0", alt="")
