doctype html
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="en"> <![endif]-->
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      link(rel="shortcut icon", href="/assets/images/favicon.png")
      title
        block title
          = document.title
      != getBlock('styles').add(['/vendors/css/knacss.css', '/vendors/css/sunburst.css', '/assets/css/main.css', '/assets/css/home.css']).toHTML()

  body
    .navbar.fixed
      a.nav-logo.left(href="/")
          img(src='/assets/images/happycloud.png', alt='Happy Cloud')
      span.subtitle
        - var collectionName = "documents"
        - if (document.category != null)
          - collectionName = document.category + "Pages"
        - items = generateMenu(document.url, collectionName)
        - for item in items
          - var className = ""
          - if (item.state == "parent" || item.state == "current")
            - className = 'current'
          .breadcrumb-item(class="#{className}")
            a(href="#{item.url}")= item.title
            - if (item.children != null)
              ul.menu-item
                - for child in item.children
                  li
                    a(href="#{child.url}")= child.title

      .submenu-container.right(class="#{className}")
         a(href="https://blog.cozycloud.cc") Blog

      - var className = ""
      - if(document.category == 'hack')
        - className = 'selected'
      .submenu-container.right(class="#{className}")
        a(href="/hack/getting-started/") Dev

      - var className = ""
      - if(document.category == 'host')
        - className = 'selected'
      .submenu-container.right(class="#{className}")
        a(href="/host/install.html") Install
    .wrapper
      .wrap-menu.w25.mod.left
        | &nbsp;
        aside
          - var hasToc = "";
          - if (document.tableOfContents.length > 0)
            - hasToc = "toc";
          p.title(class="#{hasToc}")= document.title
          nav#navigation(role="navigation")
            ul.nav.first-level
              - for item in document.tableOfContents
                - var className = "big"
                - if (document.tableOfContents.length == 1)
                  - className = "big active"
                - if(item.text != "")
                  li(class="#{className}")
                    a.label(href="##{item.id}")= item.text
                    - if (item.children != null)
                      ul.second-level
                        - for child in item.children
                          li.small
                            a.label(href="##{child.id}")= child.text

      - var className = "w75"
      - if (document.tableOfContents.length == 0)
        - className = "w80"
      #main.mod.pam(role="main", class="#{className}")
        != content

      footer#footer.line.pam.row(role="contentinfo")
        a(href="https://github.com/mycozycloud") Github
        a(href="irc://irc.freenode.net/cozycloud") IRC
        a(href="mailto:contact@cozycloud.cc") Contact
        a(href="https://groups.google.com/forum/?fromgroups#!forum/cozy-cloud")
            | Mailing-list
        a(href="https://cozycloud.cc") Cozy Cloud

    != getBlock('scripts').add(['/vendors/javascripts/jquery-2.0.3.min.js', '/vendors/javascripts/bootstrap.min.js', '/assets/javascripts/main.js']).toHTML()

