doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        link(rel="shortcut icon", href="/assets/images/favicon.png")
        title="Cozy, a personal cloud you can hack, host and delete"
        meta(name="description", content="Cozy brings you a personal cloud platform. Store your data in a place you control and leverage it with personal web applications. Photos, mails, notes, contacts, todos... there's already many applications. Extend the possibility by developing your own app, you can leverage existing features! Cozy is open-source and you can self-host it. Cozy is privacy-friendly.")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        != getBlock('styles').add(['/vendors/css/knacss.css', '/assets/css/home.css']).toHTML()
        script(src='/vendors/javascripts/jquery-2.0.3.min.js').
        script(type='text/javascript').
          $(document).ready(function() {
             $(".diagbox").click(function(event) {
               if($(window).width() > 800) {
                 $(event.target).find("p").slideDown();
               };
             });
          });
    body
        .navbar.fixed
            a(href="/")
                img(src='/assets/images/happycloud.png', alt='Happy Cloud')
            a.right(href="https://blog.cozycloud.cc") Blog
            a.right(href="/hack/getting-started/") Dev
            a.right(href="/mobile/files.html") Mobile
            a.right(href="/host/install.html") Install

        header.line.clearfix#header
            .left.mr2.biglogo
                img(src='/assets/images/bighappycloud.png')
            .mod.main-text
                .mod.left
                    h1
                        span.title Cozy&nbsp;
                        | a Personal Cloud
                        br
                        | You can Host, Hack
                        | and Delete
                    h4
                        | Your contacts, calendars and files are stored on your
                        | hardware and synced with your devices
                    .image-links.mt6
                        p
                            a.button(href="/host/install.html#virtualbox-image") Give a try on <strong>VirtualBox</strong>
                        p
                            a(href="/host/install.html")
                                | then install it on your own box.
            .line.external-links
                .mod.w33.left.pa2.txtcenter
                    h4 Simple and Intuitive
                    br
                    a.button(href="https://demo.cozycloud.cc")
                        | See Demo
                .mod.w33.left.pa2.txtcenter
                    h4 Community Driven
                    br
                    a.button(href="https://forum.cozy.io")
                        | See Forum
                .mod.w33.left.pa2.txtcenter
                    h4 Free and Open Source
                    br
                    a.button(href="https://github.com/cozy/cozy-setup")
                        | See Source Code

        section#why.why.center.highlight
            .line
                h4
                    | Enjoy your personal cloud
                p.textcenter.pa2.tagline
                    | Cozy is the assistant that simplifies your life.
                    | You can trust it to keep your privacy safe and to serve
                    | you. Here are its main features:
                .line.mt2.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/files.png", alt="Files").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/files-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Files
                        p.pa2.mt0
                            | Store your important files in your Cozy.
                            | Android and OSX apps are on the way.
                            | Keep your files synced with your laptop and your
                            | smartphone.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/calendar.png", alt="Calendar").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/calendar-picto.png", alt="Calendar").picto
                        h1.capitalize.mt3
                            | Calendar
                        p.pa2.mt0
                            | Manage your events via a simple
                            | web interface.
                            | Synchronize your smartphone calendar with Cozy
                            | via the CalDAV protocol.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/contacts.png", alt="Contacts").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/contacts-picto.png", alt="Files").picto
                        h1.capitalize.mt3
                            | Contacts
                        p.pa2.mt0
                            | Store your contacts in the cloud and share files
                            | and events with them.
                            | Synchronize your smartphone with your contact
                            | book via the CardDAV protocol.
                .line.gallery
                    .mod.w50.left
                        .screenshot-container.txtcenter
                            img(src="/assets/images/app-store.png", alt="App Store").screenshot
                    .mod.w50.left
                        p.txtcenter
                            img(src="/assets/images/app-store-picto.png", alt="App Store").picto
                        h1.capitalize.mt3
                            | App Store
                        p.pa2.mt0
                            | Cozy is expandable: you can install applications
                            | developed by the community: photo gallery, feed
                            | reader, task manager, etc.

                 .line.mt6
                     p
                        strong.biggest 3000 apps are downloaded each month!
                 .line.txtcenter.mt2
                     a#install-button.button.mt6(href="/host/install.html")
                            | Install Cozy on your favorite hardware

        section#hack.line.target.simple
            .line
                h4
                    | Augment your Cozy with your own app
            .line.mt6
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/big-plus.png", alt="Plus Icon")
                    p.pa2
                        | Cozy speeds up your web app development.
                        | It provides you
                        | with ready to-go templates, a simple web framework,
                        | an ODM and many more helpers.
                        | No specific IDE is required, you
                        | keep your favorite editor!
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/javascript_logo.png", alt="JS Logo")
                    p.pa2
                        | You can build your web app with a single language for
                        | client and server:
                        | Javascript. Soon, we will support applications
                        | composed only of HTML5 and Javascript, no server will be
                        | required.
                .mod.w33.left
                    p.txtcenter
                        img(src="/assets/images/server.png", alt="Server Icon")
                    p.pa2
                        | You will distribute your app easily to the
                        | entire community by sharing the Git URL of your
                        | repository.
                        | No need to worry about deployment anymore!
            .line
                .txtcenter.mt6
                    a.button.mt6(href="http://cozy.io/hack/getting-started/")
                        | Write your web app in 30 minutes


        section#leave.highlight
            .line
                h4
                    | Stay because you can leave
                p
                    | What is annoying nowadays with online services is
                    | that they lock you in. This is not what we intend to do with
                    | Cozy. That's why you have the capability to
                    | delete your data and leave the platform anytime you want.
                    br
                    | NB: Be aware that the below action will erase your
                    | data permanently.
                .txtcenter.mt3
                    a.button(href="/host/uninstall.html")
                        | Uninstall Cozy


        section#architecture.line.target.simple
            .line
                h4 Cozy is architectured like a PaaS
            .line.mt6
                .line
                    .mod.w100.diagbox
                        div proxy
                        p.w100
                            | The proxy handles all user requests. It manages
                            | the authentication and routes requests to the
                            | right application.
                .line.grid5
                    .diagbox
                        div home / controller
                        p.w100
                            | The home app is an UI for the
                            | controller. It allows to install or remove
                            | applications and to set user parameters.
                    .diagbox
                        div app1
                        p.w100
                            | This is an application provided by Cozy Cloud
                            | or the community. It is spawned by the home
                            | that finds the sources on a github repo.
                    .diagbox
                        div app2
                        p.w100
                            | Your choice: notes, mails, budget, sport coach...
                    .diagbox(style='background: transparent') ...
                    .diagbox
                        div your app
                        p.w100
                            | This is an application you developed. You can spawn it like
                            | any other applications.
                .line
                    .mod.w100.diagbox
                        div data system
                        p.w100
                            | The data system is a layer between apps and data.
                            | It manages application permissions and
                            | provides a unified API to access to all kind of
                            | data: files, documents or indexes.
                            | It publishes changes, so that applications
                            | can share data with each other.
                .line.grid3
                    .diagbox
                        div database
                        p.w100
                            | This NoSQL storage stores documents as JSON
                            | objects.
                    .diagbox
                        div file system
                        p.w100
                            | Files are stored directly in the database as
                            | attachments of documents. A fuse implementation
                            | is on the roadmap to make things smoother.
                    .diagbox
                        div indexer
                        p.w100
                            | A dedicated module
                            | handles content indexation through a REST API.
                            | It's your personal search engine.

        section#community-cozy.highlight
            .line
                h4
                    | Join our community
                p
                    | We will provide you with support. We'll be glad to hear
                    | your thoughts, integrate your contributions and try your
                    | brand new app.
                .line
                    p.mod.w33.left
                        a(href="http://webchat.freenode.net/?channels=cozycloud")
                           img(src='/assets/images/irc-logo.png', alt='IRC Logo')
                           br
                           | <strong>#cozycloud</strong> on irc.freenode.net
                    p.mod.w33.left
                        a(href='https://forum.cozy.io')
                           img(src='/assets/images/forum.png', alt='Forum Icon')
                           br
                           | Forum
                    p.mod.w33.left
                        a(href='https://twitter.com/mycozycloud')
                           img(src='/assets/images/twitter.png', alt='Twitter Logo')
                           br
                           | Twitter

        section#about.line
            h2.icon-rate &nbsp; About
            p.right
                img(src='/assets/images/cozy-logo.png', alt='Cozy Logo')
            p
                | Cozy is made by Cozy Cloud, a young France-based startup.
                | Learn more on&nbsp;
                a(href="https://cozycloud.cc") our website
                |.
            p
                | Our goal is to build a virtual assistant you can trust.
                | Cozy will be the centre of gravity of your digital life.
                | All your devices, your web services and your contacts will
                | collaborate through it. This way, you will discover a whole
                | new web experience!
            p
                | Photo Credits: Cozy Cloud, TechGenStaffer
                | (Flickr), license Creative Commons
                br
                | Icons: iconmonstr and KNACSS
            p.mt6.txtcenter
                a.mr3(href="http://redecentralize.org/interviews/2014/01/30/11-benjamin-cozycloud.html")
                    img(src='/assets/images/redecentralize-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a.mr3(href="http://linuxfr.org/news/cozy-un-cloud-personnel-que-l-on-peut-heberger-bidouiller-et-supprimer", )
                    img(src='/assets/images/linuxfr-logo.png', alt='LinuxFR Logo')
                | &nbsp;&nbsp;
                a(href="http://blog.webfwd.org/post/55880600928/new-team-intro-cozy-cloud")
                    img(src='/assets/images/webfwd-logo.png', alt='WebFWD Logo')


        script(type='text/javascript').
          var _paq = _paq || [];
          _paq.push(["trackPageView"]);
          _paq.push(["enableLinkTracking"]);

          (function() {
            var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.cozycloud.cc/";
            _paq.push(["setTrackerUrl", u+"piwik.php"]);
            _paq.push(["setSiteId", "3"]);
            var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
            g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
          })();
        noscript
            img(src="/https://piwik.cozycloud.cc/piwik.php?idsite=1&amp;rec=1", style="border:0", alt="")
